<section class="service">
  <div class="container">
    <div class="row">
       <div class="section-title">
          <h2>Feature List</h2>
       </div>
    </div>
    <div class="row">
       <div class="col-sm-6 col-md-3">
          <div class="service-item">
             <i class="icon ion-map"></i>
             <h4>FIND / DOWNLOAD LIDAR (FREE)</h4>
             <p>Quickly locate and download USGS 3DEP elevation data for terrain generation and analysis.  Built in map for  identifying locations and tools to create boundaries for tile selection.  Download and query tools are included for LIDAR Tiles and  best available USGS terrain.  Over 2.8 Million tiles have been indexed for quick access.</p>
          </div>
       </div>
       <div class="col-sm-6 col-md-3">
          <div class="service-item">
             <i class="icon ion-ios-crop"></i>
             <h4>CLIP - MERGE - PROCESS (FREE)</h4>
             <p>Define a geographic boundary and clip point data out of multiple tiles of LIDAR in one step with the LIDAR Wizard.  Quickly generate merged output files ready for CAD or GIS workflows including DXF CONTOURS.  Quickly generate multiple outputs including raster DEMs, LAZ and TXT point files.</p>
          </div>
       </div>
       <div class="col-sm-6 col-md-3">
          <div class="service-item">
             <i class="icon ion-image"></i>
             <h4>Hotspot Builder (360)</h4>
             <p>Quickly and easily turn JPG photos into interactive maps and GIS layers.  Hotspot Builder extracts GNSS info from geotagged photos and automatically creates an editable map.  Use photos from your smartphone, favorite 360 (pano) camera, LASER scanner, or other devices taking JPG images.  Export hotspot layers directly to GIS or share with your team using the built-in Web Share functions.</p>
          </div>
       </div>
       <div class="col-sm-6 col-md-3">
          <div class="service-item">
             <i class="icon ion-share"></i>
             <h4>Web Share (360)</h4>
             <p>Your very own Web Share folder is included starting with 2 GB of expandable storage space for photos, 360 panos, and web maps.  Hotspot Builder will export directly to your web share folder for you to share and help create interactive map (GIS) applications.  The web share tool allows you to manage your share folder and to retrieve shareable links to any of your photos and maps.  Web share includes a pano viewer for viewing 360 images. If you have a Pro subscription Web Share supports sharing point clouds with a built-in point cloud viewer.</p>
          </div>
       </div>
       <div class="col-sm-6 col-md-3">
          <div class="service-item">
             <i class="icon ion-android-color-palette"></i>
             <h4>Colorize (PRO)</h4>
             <p>Draping color over LIDAR point clouds improves visualization options and provides for much more realistic 3d models. Tools are included to make it easy to colorize one or multiple tiles of LIDAR with ortho-imagery.</p>
          </div>
       </div>
       <div class="col-sm-6 col-md-3">
          <div class="service-item">
             <i class="icon ion-ios-cog"></i>
             <h4>Advanced Tools (PRO)</h4>
             <p>A robust library of point cloud processing tools are included to filter, grid, convert, and re-project data sets.  Tools are also included to create XYZ Raster tiles from TIF images as well as survey (TEXT) file imports to generate point clouds and Hotspot layers.</p>
          </div>
       </div>
       <div class="col-sm-6 col-md-3">
          <div class="service-item">
             <i class="icon ion-compass"></i>
             <h4>3D Scenes (PRO)</h4>
             <p>Point cloud publishing with a built in viewer is included.  Quickly create 3d point cloud scenes from any point cloud and visualize on your computer without the need of a web server.  Publish to your web share folder to quickly send a link to your team to view. Handles very large point clouds and includes basic tools to analyze and measure.</p>
          </div>
       </div>
       <div class="col-sm-6 col-md-3">
          <div class="service-item">
             <i class="icon ion-ios-cloud"></i>
             <h4>GeoSync Cloud (BRONZE)</h4>
             <p>A map / project based framework for secure sharing all types of geospatial data sets.  Includes project containers and dashboards for storing, publishing, and sharing project content including maps, photos, pdf files, and point clouds.  Create and  manage users with permissions for sharing all of your project deliverable content. Bronze includes two Z-Tools Pro subscriptions along with GeoSync Cloud Publisher for creating and configuring your project dashboard content.</p>
          </div>
       </div>
    </div>
 </div>
</section>